body {
	background-color: #FFF8DC;
	font-family: Arial;
}

table {
    border: 0; 
	width: 100%;
	text-align: left;
}

.c1 {
	background-color: #90EE90;
}

.c2 {
	background-color: #FFEF00;
}

.c3 {
	background-color: #E9967A;
}